#dollar {
  box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.4);
}

.marquee {
  animation: marquee 20s linear infinite;
  min-width: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 15px));
  }
}